<div class="modal-body">
    <div style="height: 400px; box-sizing: border-box;">
        <file-manager 
            [fileElements]="fileElements | async" 
            [path]="currentPath" 
            [canNavigateUp]="canNavigateUp"
            (folderAdded)="addFolder($event)" 
            (elementRemoved)="removeElement($event)"
            (navigatedDown)="navigateToFolder($event)" 
            (navigatedUp)="navigateUp()"
            (elementRenamed)="renameElement($event)" 
            (elementMoved)="moveElement($event)"
            (chooseFile)="chooseFile($event)"></file-manager>
    </div>
</div>
<div class="modal-footer">
    <label for="filename">File name:</label>
    <input type="text" id="filename" required [(ngModel)]="filename" name="filename" #name>
    <button *ngIf="!data" [disabled]="!filename.length" (click)="open()">
        Open
    </button>
    <button *ngIf="data" [disabled]="!filename.length" (click)="save()">
        Save
    </button>
    <button (click)="activeModal.dismiss('Close clicked')">
        Close
    </button>
</div>