<div class="root">
    <blv-header></blv-header>

  <div class="content">
    <div class="container">
      <!-- слоган -->
      <div class="slogan">
        <h1 id="big_slogan">Profile Info</h1>
      </div>
      <!-- <p class="substitute_title">Profile Info</p> Замещающая надпись для xs-devices -->
      <div class="edit_profile">
        <p><i class="fas fa-user-edit"></i>Edit Profile</p>
      </div>
      <div class="clear"></div>
      <!-- Content -->
      <div class="row content_block">
        <div class="col-md-6 col-sm-6 col-xs-6 portret">
          <h4>Martine Morris</h4>
          <h5>Founder at COMPASS pathways</h5>
          <img src="assets/img/portret_rounded.png" alt="portret">
          <p id="geo">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            London area, United Kindom
          </p>
        </div> <!-- portret end-->
        <div class="col-md-6 col-sm-6 col-xs-6 description">
          <!-- Хэштеги -->
          <div class="form-group has-feedback has-feedback-left hashtag">
            <button class="btn btn-default btn-block" type="submit" id="bussines"># Bussines</button>
            <button class="btn btn-default btn-block" type="submit" id="small_bussines"># Small Bussines</button>
            <button class="btn btn-default btn-block" type="submit" id="innovation"># Innovation</button>
            <button class="btn btn-default btn-block" type="submit" id="networking"># Networking</button>
            <button class="btn btn-default btn-block" type="submit" id="entrepreneur"># Entrepreneur</button>
            <button class="btn btn-default btn-block" type="submit" id="sports"># Sports</button>
          </div>
          <div class="clear"></div>
          <p class="title">Learn how to connect with people in your #community on BYOB</p>
          <p class="text">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
            nibh
            id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam
            nec
            tellus a odio tincidunt auctor a ornare odio.</p>
          <p class="small_title">What I’m looking for</p>
          <p class="text">Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra,</p>
          <p class="small_title">Favorite ways to meet</p>
          <div class="icons">
            <div class="dinner">
              <img src="assets/icons/dinner-table.svg" alt="dinner">
              <p>Dinner</p>
            </div>
            <div class="hiking">
              <img src="assets/icons/hiking.svg" alt="hiking">
              <p>On A Walk</p>
            </div>
            <div class="cocktail">
              <img src="assets/icons/cocktail.svg" alt="cocktail">
              <p>After Work</p>
            </div>
            <div class="calendar">
              <img src="assets/icons/calendar.svg" alt="calendar">
              <p>Weekend</p>
            </div>
            <div class="clear"></div>
          </div>
          <p class="small_title">My Industry</p>
          <p class="text">Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra,</p>
          <p class="small_title">Previous Organizations</p>
          <p class="text">Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra,</p>
          <p class="small_title">Education</p>
          <p class="text">Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra,</p>
          <p class="small_title">Education</p>
          <p class="text">Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra,</p>
          <div class="social_networks">
            <p>Links</p>
          </div>
          <div class="social_networks_icons">
            <a href="#"><img src="assets/img/link.png" alt="LinkId"></a>
            <a href="#"><img src="assets/img/google.png" alt="Google"></a>
            <a href="#"><img src="assets/img/facebook.png" alt="Facebook"></a>
          </div>
        </div> <!-- Description end-->
      </div> <!-- Ряд end-->
    </div> <!-- Контейнер end-->
  </div> <!-- Контент end-->

  <blv-footer></blv-footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</div>