<div class="root">
    <blv-header></blv-header>

    <div class="content">
        <div class="container">
            <div class="inner_block">
                <h4>Talk to Strangers!</h4>
                <p style="padding-top: 20px">You're now chatting with a random stranger. <span
                        style="color: #426ad7">Say hi!</span></p>
                <p>You both like Entrepreneur.</p>
                <p>Stanger has disconnected.</p>
                <h3>What do you wanna talk about?</h3>
                <p id="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident vitae odit, architecto
                    numquam
                    ad
                    facere nobis doloribus rem laudantium ea sequi iusto.</p>
                <button class="btn btn-default btn-lg button" type="submit">Video</button>
                <p id="last_sign">Not automatically rerolling.</p>
            </div>
        </div> <!-- Контейнер end-->
    </div> <!-- Контент end-->

    <footer>
        <div class="container-fluid  footer-bottom-section" style="padding-top: 50px; margin-top: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <p class="bottom-title-alpha">Connecting members to each other</p>
                        <ul class="alphabet">
                            <li class="flip"><a href="#">A</a></li>
                            <li class="flip"><a href="#">B</a></li>
                            <li class="flip"><a href="#">C</a></li>
                            <li class="flip"><a href="#">D</a></li>
                            <li class="flip"><a href="#">E</a></li>
                            <li class="flip"><a href="#">F</a></li>
                            <li class="flip"><a href="#">G</a></li>
                            <li class="flip"><a href="#">H</a></li>
                            <li class="flip"><a href="#">I</a></li>
                            <li class="flip"><a href="#">J</a></li>
                            <li class="flip"><a href="#">K</a></li>
                            <li class="flip"><a href="#">L</a></li>
                            <li class="flip"><a href="#">M</a></li>
                            <li class="flip"><a href="#">N</a></li>
                            <li class="flip"><a href="#">O</a></li>
                            <li class="flip"><a href="#">P</a></li>
                            <li class="flip"><a href="#">Q</a></li>
                            <li class="flip"><a href="#">R</a></li>
                            <li class="flip"><a href="#">S</a></li>
                            <li class="flip"><a href="#">T</a></li>
                            <li class="flip"><a href="#">U</a></li>
                            <li class="flip"><a href="#">V</a></li>
                            <li class="flip"><a href="#">W</a></li>
                            <li class="flip"><a href="#">X</a></li>
                            <li class="flip"><a href="#">Y</a></li>
                            <li class="flip"><a href="#">Z</a></li>
                            <li class="flip"><a href="#">More</a></li>
                        </ul>
                        <p style="font-weight: bold;">
                            Browse by country
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="button-member"><img src="assets/img/member_directory.png" alt="label"></a>
                    </div>
                </div> <!-- Ряд -->
            </div> <!-- Контейнер -->
        </div> <!-- Container-fluid -->
        <div class="container-fluid footer-nav-wrapper lowerest_menu">
            <div class="container">
                <div class="row">
                    <ul class="footer-nav col-md-12">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#"> Sign Up </a></li>
                        <li><a href="#">Developers Blog</a></li>
                        <li><a href="#">Groups</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Learning</a></li>
                        <li><a href="#"> Top Jobs</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">CAREERS</a></li>
                    </ul>
                </div> <!-- Ряд -->
            </div> <!-- Контейнер -->
        </div> <!-- Container-fluid -->
        <div class="substitute_menu">
            <a href="#">Menu</a>
        </div>
        <div class="container-fluid footer-bottom-section">
            <div class="container" style="padding-bottom: 10px">
                <div class="row">
                    <ul class="copyright-list col-md-7">
                        <li>
                            © Copyright 2017 - Byob - All Rights Reserved
                        </li>
                        <li>
                            <a href="#">Site Map</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Disclaimer User </a>
                        </li>
                        <li>
                            <a href="#">Guest Controls</a>
                        </li>
                        <li>
                            <a href="#">Agreement</a>
                        </li>
                        <li>
                            <a href="#">Community Guidelines</a>
                        </li>
                    </ul>
                    <div class="col-md-2 offset-md-3 footer-logo">
                        <p id="logo">BYOB</p>
                        <p id="logo_sign_footer">Be Your Own Boss</p>
                    </div>
                </div> <!-- Ряд -->
            </div> <!-- Контейнер -->
        </div> <!-- Container-fluid -->
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</div>