<head>
  <!-- <link rel="stylesheet" href="../css/normalize.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

</head>
<div class="container-fluid top_header_links">
  <div class="container">
    <div class="row">
      <div class="header_logo col-md-2 col-sm-12">
        <div>BYOB</div> <span>Be Your Own Boss</span>
      </div>
      <div class="header_search col-md-4 col-sm-12">
        <form [formGroup]="searchForm" (ngSubmit)="searchIntrep()">
          <input type="search" formControlName="search" placeholder="Find Entrepreneur">
          <button type="submit"></button>
        </form>
      </div>
      <div class="col-md-6 top_header_connect">
        <ul>
          <li>
            <a routerLink="/converse">Browse</a>
          </li>

          <li>
            <a href="/chat-room"> Chat room</a>
          </li>
          <li>
            <a href="#"> My Connection</a>
          </li>
          <li>
            <a href="#">Notifications <span class="counter">2</span></a>
          </li>
          <li>
            <a class="nav-drop" href="#">Messages</a>
          </li>
          <li>
            <a class="nav-drop" routerLink="/advertisment">Advertisment</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<section class="homePg">

  <div class="container">

    <div class="row">

      <div class="col-sm-4 col-md-3">

        <div class="welcomeBox" *ngIf="user">

          <div class="editdots">

            <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>

          </div>

          <div class="userImg">
            <img *ngIf="user && user.photoURL" [src]="user.photoURL" alt="userimg" width="130" height="130">
            <img *ngIf="!user || !user.photoURL" src="assets/img/avatar.jpg" alt="userimg" width="130" height="130">
          </div>

          <h1 class="username">Welcome, {{ user.first_name }}!</h1>

          <hr>

          <p class="myConnections">My Connections ( 174) Grow your network</p>

        </div>

        <!-- ======= -->

        <div class="comapanyNames">

          <div class="editdots">

            <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>

          </div>

          <h4>Company Names</h4>

          <hr>

          <div class="companyBox">

            <a href="#"><img src="assets/img/integer.jpg" alt="integer"></a>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <a href="#"><img src="assets/img/prudnetial.jpg" alt="prudnetial"></a>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <a href="#"><img src="assets/img/indianangel.jpg" alt="indianangel"></a>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <!-- ====== -->

        </div>

        <!-- ============= -->

        <div class="comapanyNames invester">

          <div class="editdots">

            <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>

          </div>

          <h4>Company Names</h4>

          <hr>

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/ig.jpg" alt="ig"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/ds.png" alt="ds"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/lq.jpg" alt="lq"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/wlogo.jpg" alt="wlogo"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <!-- ====== -->

        </div>

        <!-- ============= -->

        <div class="comapanyNames">

          <div class="editdots">

            <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>

          </div>

          <h4>Investors Listing</h4>

          <hr>

          <div class="companyBox">

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <!-- ====== -->

        </div>

      </div>

      <div class="col-sm-8 col-md-6">

        <div class="" id="new_status">

          <ul class="navbar-nav col-xs-12" id="post_header" role="navigation">

            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Make Post</a></li>

            <li><a href="#"><span class="glyphicon glyphicon-picture"></span>Photo/Video Album</a></li>

            <li><a href="#"><span class="glyphicon glyphicon-th"></span>Live Video</a></li>

          </ul>

          <div class="col-xs-12" id="post_content">

            <div class="textarea_wrap">

              <textarea class="col-xs-11" placeholder="Share an article, photo, video or idea"></textarea>

            </div>

          </div>

          <div class="col-xs-12" id="post_footer">

            <ul class="navbar-nav col-xs-8">

              <li><a href="#">Photo/Video </a></li>

              <li><a href="#">Answer &amp; Question</a></li>

              <li><a href="#"> Tag Friends</a></li>

            </ul>

            <div class="col-xs-4">

              <button class="btn btn-default">Post</button>

            </div>

          </div>

        </div>

        <!-- ============= -->

        <div class="featuredNews">

          <div class="comapanyNames">

            <div class="editdots">

              <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>

            </div>

            <h4>Featured News</h4>

            <hr>

            <!-- ====== -->

            <div class="row">

              <div class="col-xs-4">

                <div class="featureBox">

                  <div class="imgset">

                    <img src="assets/img/feature1.jpg" alt="feature1">

                    <span class="badge">Entrepreneur</span>

                  </div>

                  <h6>Liuqui dolorem </h6>

                  <p>sed quae dolore eram, Irure excepteur et noster.</p>

                </div>

              </div>

              <div class="col-xs-4">

                <div class="featureBox">

                  <div class="imgset">

                    <img src="assets/img/feature2.jpg" alt="feature1">

                    <span class="badge">Business</span>

                  </div>

                  <h6>Liuqui dolorem </h6>

                  <p>sed quae dolore eram, Irure excepteur et noster.</p>

                </div>

              </div>

              <div class="col-xs-4">

                <div class="featureBox">

                  <div class="imgset">

                    <img src="assets/img/feature3.jpg" alt="feature1">

                    <span class="badge">Investors</span>

                  </div>

                  <h6>Liuqui dolorem </h6>

                  <p>sed quae dolore eram, Irure excepteur et noster.</p>

                </div>

              </div>

            </div>

            <!-- ======== -->

          </div>

        </div>

        <!-- ============= -->

        <div class="suggestedPosts">

          <div class="comapanyNames">

            <div class="editdots">

              <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>

            </div>

            <h4>Suggested Post</h4>

            <hr>

            <!-- ====== -->

            <div class="sugestedSinglePost">

              <div class="editdots">

                <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>

              </div>

              <div class="singleBox">

                <h6>Duis aute irure dolor in reprehenderit</h6>

                <p class="dateTime">December 11 at 9:00am </p>

                <div class="postImg">

                  <img src="assets/img/postimg.jpg" alt="postimg">

                </div>

                <h5>Lorem Ipsum. Proin gravida nibh vel velit auctor</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, iusto.</p>

              </div>

              <!-- ============== -->

              <div class="postfooter">

                <ul class="navb ">

                  <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span>Likes
                      </span> </a></li>

                  <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> <span>Comments</span>
                    </a></li>

                  <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i><span>Share</span>
                    </a></li>

                  <li><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i> <span>Callling/Video
                        Chat</span> </a></li>

                </ul>

              </div>

              <div class="singleBoxbot">

                <h6>View previous comments</h6>

                <div class="commentsBox">

                  <div class="icon">

                    <img src="assets/img/icon.jpg" alt="icon">

                  </div>

                  <div class="contentComent">

                    <h6><a href="">Omnis Voluptas </a></h6>

                    <!-- <img src="assets/img/" alt=""> -->

                    <div class="videoWrapper">

                      <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1"
                        frameborder="0" allowfullscreen></iframe>

                    </div>

                    <p class="opinion"><a href="#">Like </a> <span>.</span><a href="#">Reply </a>
                      <span>.</span> 1 <span>.</span> Dec 14 at 12:55pm</p>

                  </div>

                </div>

                <div class="writeComment">

                  <div class="icon">

                    <img src="assets/img/icon.jpg" alt="icon">

                  </div>

                  <div class="contentComent">

                    <div class="input-group">

                      <input type="text" class="form-control" placeholder="Write a comment....">

                      <span class="input-group-addon">

                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>

                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                        <a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i></a></span>

                    </div>

                  </div>

                </div>

              </div>

            </div>

            <!-- ======== -->

          </div>

        </div>

        <!-- =========== -->

        <div class="suggestedPosts">

          <div class="comapanyNames">

            <div class="sugestedSinglePost">

              <div class="editdots">

                <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>

              </div>

              <div class="singleBox">

                <h6>Duis aute irure dolor in reprehenderit</h6>

                <p class="dateTime">December 11 at 9:00am </p>

                <div class="postImg">

                  <img src="assets/img/postimg.jpg" alt="postimg">

                </div>

                <h5>Lorem Ipsum. Proin gravida nibh vel velit auctor</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, iusto.</p>

              </div>

              <!-- ============== -->

              <div class="postfooter">

                <ul class="navb ">

                  <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span>Likes
                      </span> </a></li>

                  <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> <span>Comments</span>
                    </a></li>

                  <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i><span>Share</span>
                    </a></li>

                  <li><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i> <span>Callling/Video
                        Chat</span> </a></li>

                </ul>

              </div>

              <div class="singleBoxbot">

                <div class="commentsBox">

                  <div class="icon">

                    <img src="assets/img/icon2.jpg" alt="icon">

                  </div>

                  <div class="contentComent">

                    <h6><a href="">Omnis Voluptas </a></h6>

                    <p>Lorem Ipsum roin gravida nibh vel velit auctor </p>

                    <p class="opinion"><a href="#">Like </a> <span>.</span><a href="#">Reply </a>
                      <span>.</span> 1 <span>.</span> Dec 14 at 12:55pm</p>

                  </div>

                </div>

                <div class="writeComment">

                  <div class="icon">

                    <img src="assets/img/icon2.jpg" alt="icon">

                  </div>

                  <div class="contentComent">

                    <div class="input-group">

                      <input type="text" class="form-control" placeholder="Write a comment....">

                      <span class="input-group-addon">

                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>

                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                        <a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i></a></span>

                    </div>

                  </div>

                </div>

              </div>

            </div>

            <!-- ======== -->

          </div>

        </div>

      </div>

      <div class="col-sm-12 col-md-3">

        <div class="comapanyNames invester">

          <div class="editdots">

            <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>

          </div>

          <h4>Active Bosses</h4>

          <hr>

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/user.jpg" alt="user"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/user.jpg" alt="user"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/user.jpg" alt="user"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/user.jpg" alt="user"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <!-- ====== -->

        </div>

        <div class="nextInvester">

          <img src="assets/img/nextinvester.jpg" alt="nextinvester">

          <p><a href=""> <i class="fa fa-search"></i> Find Your Next

              Investor</a></p>

        </div>

        <!-- ====================== -->

        <div class="comapanyNames invester">

          <div class="editdots">

            <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>

          </div>

          <h4>Related Investors</h4>

          <hr>

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/inverster1.jpg" alt="inverster1"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/inverster2.jpg" alt="inverster1"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/inverster3.jpg" alt="inverster1"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/inverster4.jpg" alt="inverster1"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <!-- ====== -->

        </div>

        <!-- ====================== -->

        <div class="comapanyNames invester message">

          <div class="editdots">

            <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>

            <a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>

          </div>

          <h4>Messaging</h4>

          <hr>



          <div class="input-group customsearch">

            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>

            <input type="text" class="form-control" placeholder="Search">

          </div>

          <!-- /input-group -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/inverster1.jpg" alt="inverster1"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/inverster2.jpg" alt="inverster1"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/inverster3.jpg" alt="inverster1"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <hr>

          <!-- ====== -->

          <div class="companyBox">

            <div class="imgBbox"><a href="#"><img src="assets/img/inverster4.jpg" alt="inverster1"></a></div>

            <h6>Liuqui dolorem </h6>

            <p>sed quae dolore eram, Irure excepteur et noster.</p>

          </div>

          <!-- ====== -->

        </div>

        <!-- =============== -->

      </div>

    </div>

  </div>

</section>
<!-- <footer> -->
<div class="container-fluid footer-bottom-section">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p class="bottom-title-alpha">Connecting members to each other</p>
        <ul class="alphabet">
          <li class="flip"><a href="#">A</a></li>
          <li class="flip"><a href="#">B</a></li>
          <li class="flip"><a href="#">C</a></li>
          <li class="flip"><a href="#">D</a></li>
          <li class="flip"><a href="#">E</a></li>
          <li class="flip"><a href="#">F</a></li>
          <li class="flip"><a href="#">G</a></li>
          <li class="flip"><a href="#">H</a></li>
          <li class="flip"><a href="#">I</a></li>
          <li class="flip"><a href="#">J</a></li>
          <li class="flip"><a href="#">K</a></li>
          <li class="flip"><a href="#">L</a></li>
          <li class="flip"><a href="#">M</a></li>
          <li class="flip"><a href="#">N</a></li>
          <li class="flip"><a href="#">O</a></li>
          <li class="flip"><a href="#">P</a></li>
          <li class="flip"><a href="#">Q</a></li>
          <li class="flip"><a href="#">R</a></li>
          <li class="flip"><a href="#">S</a></li>
          <li class="flip"><a href="#">T</a></li>
          <li class="flip"><a href="#">U</a></li>
          <li class="flip"><a href="#">V</a></li>
          <li class="flip"><a href="#">W</a></li>
          <li class="flip"><a href="#">X</a></li>
          <li class="flip"><a href="#">Y</a></li>
          <li class="flip"><a href="#">Z</a></li>
          <li class="flip"><a href="#">More</a></li>
        </ul>
        <p class="bottom-subbtitle-alpha">
          Browse by country
        </p>
      </div>
      <div class="col-md-3">
        <a href="#" class="button-member"><img src="assets/img/button-bot.png" alt="a"></a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-nav-wrapper">
  <div class="container">
    <div class="row">
      <ul class="footer-nav col-md-12">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#"> Sign Up </a></li>
        <li><a href="#">Developers Blog</a></li>
        <li><a href="#">Groups</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Learning</a></li>
        <li><a href="#"> Top Jobs</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">CAREERS</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid footer-bottom-section">
  <div class="container">
    <div class="row">
      <ul class="copyright-list col-md-7">
        <li>
          © Copyright 2017 - Byob - All Rights Reserved
        </li>
        <li>
          <a href="#">Site Map </a>
        </li>
        <li>
          <a href="#">Privacy Policy </a>
        </li>
        <li>
          <a href="#"> Disclaimer User </a>
        </li>
        <li>
          <a href="#"> Guest Controls</a>
        </li>
        <li>
          <a href="#"> Agreement </a>
        </li>
        <li>
          <a href="#"> Community Guidelines </a>
        </li>
      </ul>
      <div class="header_logo col-md-2 offset-md-3 footer-logo">
        <div>BYOB</div> <span>Be Your Own Boss</span>
      </div>
    </div>

  </div>
</div>
<!-- </footer> -->
