<div class="modal-body">
    <div style="height: 400px; box-sizing: border-box;">
        <file-manager [fileElements]="fileElements | async" [path]="currentPath" [canNavigateUp]="canNavigateUp"
            [selectedFiles]="selectedFiles" (folderAdded)="addFolder($event)" (elementRemoved)="removeElement($event)"
            (navigatedDown)="navigateToFolder($event)" (navigatedUp)="navigateUp()"
            (elementRenamed)="renameElement($event)" (elementMoved)="moveElement($event)"
            (chooseFile)="chooseFile($event)"></file-manager>
    </div>
    <hr />
    <div class="contacts-container">
        <div class="contacts-item" 
            *ngFor="let user of contacts | async"
            (click)="selectContact(user)"
            [ngClass]="{'selected': isContactSelected(user) }">
            <div class="contacts-icon">
                <!-- <div class="user_status" [ngClass]="{ 'online': isOnline(user?.id) }">
                        </div> -->
                <img src="{{ user?.photoURL || 'assets/img/avatar.jpg' }}">
            </div>
            <div class="contacts-name">
                <p class="contact_name">{{user.first_name}} {{user.last_name}}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div>
        <button [disabled]="!selectedFiles.length || !selectedUsers.length" (click)="share()">
            Share
        </button>
        &nbsp;
        <button (click)="activeModal.dismiss('Close clicked')">
            Close
        </button>
    </div>
</div>