<div class="modal-body">
    <div class="contacts-container">
        <div class="contacts-item" *ngFor="let user of contacts" (click)="selectContact(user)"
            [ngClass]="{'selected': isContactSelected(user) }">
            <div class="contacts-icon">
                <!-- <div class="user_status" [ngClass]="{ 'online': isOnline(user?.id) }">
                        </div> -->
                <img src="{{ user?.photoURL || 'assets/img/avatar.jpg' }}">
            </div>
            <div class="contacts-name">
                <p class="contact_name">{{user.first_name}} {{user.last_name}}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div>
        <button [disabled]="!selectedUsers.length" (click)="share()">
            Share
        </button>
        &nbsp;
        <button (click)="activeModal.dismiss('Close clicked')">
            Close
        </button>
    </div>
</div>