<header class="header">
    <div class="topBar">
        <div class="container">
            <div class="row">
                <div class="col-xs-7 col-sm-6">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logofot.png" height="93" height="95" alt="logo">
                        </a>
                        <h1>Be your Own Boss</h1>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-6">
                    <div class="loginButn"><a class="btn btn-default" routerLink="/login">Sign In</a></div>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <div class="registration">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="regLeft">
                        <h1>be your own boss</h1>
                        <p class="loratxt">Build <span>•</span> Network <span>•</span> Invest</p>
                        <h5>Byob helps you connect and share with the people in your life</h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="regisBox">
                        <h2>Reset your password.</h2>

                        <!-- {{data | json}} -->
                        <!-- Messages Section! -->
                        <div *ngIf="successMsg" class="alert alert-success">
                            <strong>Success! </strong>
                            {{ successMsg }}
                        </div>
                        <div *ngIf="serverError" class="alert alert-danger">
                            {{ serverError }}
                        </div>

                        <form [formGroup]="signupForm" (ngSubmit)="registerUser()" novalidate>

                            <div class="form-group">
                                <label>New password <span class="blue_txt">(6 or more characters)</span></label>
                                <input type="text" formControlName="firstName" class="form-control"
                                    placeholder="New password">
                            </div>
                            <p class="blue_txt"
                                *ngIf="signupForm.get('firstName').invalid && signupForm.get('firstName').touched">First
                                name could not be empty</p>

                            <div class="form-group">
                                <label>Re-write new password</label>
                                <input type="text" formControlName="lastName" class="form-control"
                                    placeholder="Password">
                            </div>
                            <p class="blue_txt"
                                *ngIf="signupForm.get('lastName').invalid && signupForm.get('lastName').touched">First
                                name could not be empty</p>

                            <input type="submit" value="Join Now" class="btn btncustom"
                                [disabled]="signupForm.invalid || uploadInProgress" />

                            <div class="checkbox mt-5">
                                <label>
                                    <input name="remember" type="checkbox" (change)="onRememberSet()"
                                        [checked]="remember" />By signing up you agree ot our <b>Terms & Privacy Policy</b>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<blv-footer></blv-footer>