<footer class="footer">

    <div class="topFot">

        <div class="container">

            <div class="row">

                <div class="col-md-8 col-lg-9">

                    <h5>Connecting members to each other</h5>

                    <p class="alphabt"><a href="#">A</a>

                        <a href="#">B</a>

                        <a href="#">C</a>

                        <a href="#">D</a>

                        <a href="#">E</a>

                        <a href="#">F</a>

                        <a href="#">G</a>

                        <a href="#">H</a>

                        <a href="#">I</a>

                        <a href="#">J</a>

                        <a href="#">K</a>

                        <a href="#">L</a>

                        <a href="#">M</a>

                        <a href="#">N</a>

                        <a href="#">O</a>

                        <a href="#">P</a>

                        <a href="#">Q</a>

                        <a href="#">R</a>

                        <a href="#">S</a>

                        <a href="#">T</a>

                        <a href="#">U</a>

                        <a href="#">V</a>

                        <a href="#">W</a>

                        <a href="#">X</a>

                        <a href="#">Y</a>

                        <a href="#">Z</a>

                        <a href="#">More</a></p>

                    <h6><a href="#">Browse by country</a></h6>

                </div>

                <div class="col-md-4 col-lg-3">

                    <div class="btnMember"><a class="btn btn-default" href="#">Member<span>directory</span></a></div>

                </div>

            </div>

        </div>

    </div>

    <div class="fotMenu">

        <div class="container">

            <ul>

                <li> <a href="#">About Us</a></li>

                <li> <a href="#">Services</a></li>

                <li> <a href="#">Sign Up</a></li>

                <li> <a href="#">Developers</a></li>

                <li> <a href="#">Blog</a></li>

                <li> <a href="#">Groups</a></li>

                <li> <a href="#">Jobs</a></li>

                <li> <a href="#">Learning</a></li>

                <li> <a href="#">Top Jobs</a></li>

                <li> <a href="#">Tearm</a></li>

                <li> <a href="#">Contact</a></li>

                <li> <a href="#">CAREERS</a></li>

                <li></li>

            </ul>

        </div>

    </div>

    <div class="bottomFot">

        <div class="container">

            <div class="row">

                <div class="col-md-9">

                    <p class="copyright">&copy; Copyright 2017 - Byob - All Rights Reserved <a href="#">Site Map</a>
                        <a href="#">Privacy Policy</a> <a href="#">Disclaimer User</a> </p>

                    <p><a href="#">Guest Controls</a><a href="#">Agreement</a> <a href="#">Community Guidelines</a></p>

                </div>

                <div class="col-md-3">

                    <div class="logoFotr">

                        <a href="#"> <img src="assets/img/logofot.png" height="93" height="95" alt="logofot"></a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</footer>