<header class="header">
    <div class="topBar">
        <div class="container">
            <div class="row">
                <div class="col-xs-7 col-sm-6">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logofot.png" height="93" height="95" alt="logo">
                        </a>
                        <h1>Be your Own Boss</h1>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-6">
                    <div class="loginButn"><a class="btn btn-default" routerLink="/login">Sign In</a></div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid reset-forms-wrapper">
    <div class="container reset-forms-container" [ngClass]="{ 'loading': isLoading }">
        <form class="reset-password-form" [formGroup]="form" (ngSubmit)="submit()" novalidate>
            <div class="form-title">
                <span>Reset Your Password</span>
            </div>
            <div *ngIf="currentStep === 1">
                <div class="form-info">
                    Please enter your email and or phone number linked to your account to recover your
                    account.
                </div>
                <div class="field-wrapper">
                    <div class="field">
                        <input type="radio" id="send-via-email" formControlName="method" name="method" value="email">
                        <label for="send-via-email">
                            <img src="assets/img/icons/send-mail.png" alt="img" class="label-img">
                            <span>Send code via email</span>
                        </label>
                    </div>
                    <div class="field">
                        <input type="email" class="input-text" formControlName="email" placeholder="Enter your email"
                            name="email">
                    </div>
                </div>
                <div class="field-wrapper">
                    <div class="field">
                        <input type="radio" id="send-via-sms" formControlName="method" name="method" value="sms"
                            disabled>
                        <label for="send-via-sms">
                            <img src="assets/img/icons/send-phone.png" alt="img" class="label-img">
                            <span>Send code via SMS</span>
                        </label>
                    </div>
                    <div class="field">
                        <input type="text" class="input-text" placeholder="Enter your phone" name="phone" disabled>
                    </div>
                </div>
                <div class="action">
                    <button type="submit" id="continue" class="button-continue">Continue</button>
                </div>
            </div>
            <div *ngIf="currentStep === 2">
                <div class="form-info check-mail-info">
                    You'll receive an email in a few minutes containing a link that will 
                    allow you to reset your password. If you don't see the email in your inbox shortly, 
                    check your spam folder.
                </div>
                <div class="enter-code">
                    <div class="sent-info">
                        <div class="sent-top">We sent an email to:</div>
                        <div class="sent-mail">{{ form.controls.email.value }}</div>
                    </div>
                </div>
                <div class="actions-bottom">
                    <a href="javascript:void(0)" class="get-code-link" (click)="sendResetLink()">Didn't get an email?</a>
                    <div class="buttons-wrapper">
                        <!-- <button type="submit" id="continue" class="button-continue">Continue</button> -->
                        <button type="button" id="cancel" class="button-continue cancel" (click)="goToLogin()">Cancel</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<footer class="footer">
    <div class="topFot">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <h5>Connecting members to each other</h5>
                    <p class="alphabt"><a href="#">A</a>
                        <a href="#">B</a>
                        <a href="#">C</a>
                        <a href="#">D</a>
                        <a href="#">E</a>
                        <a href="#">F</a>
                        <a href="#">G</a>
                        <a href="#">H</a>
                        <a href="#">I</a>
                        <a href="#">J</a>
                        <a href="#">K</a>
                        <a href="#">L</a>
                        <a href="#">M</a>
                        <a href="#">N</a>
                        <a href="#">O</a>
                        <a href="#">P</a>
                        <a href="#">Q</a>
                        <a href="#">R</a>
                        <a href="#">S</a>
                        <a href="#">T</a>
                        <a href="#">U</a>
                        <a href="#">V</a>
                        <a href="#">W</a>
                        <a href="#">X</a>
                        <a href="#">Y</a>
                        <a href="#">Z</a>
                        <a href="#">More</a></p>
                    <h6><a href="#">Browse by country</a></h6>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="btnMember"><a class="btn btn-default" href="#">Member<span>directory</span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="fotMenu">
        <div class="container">
            <ul>
                <li> <a href="#">About Us</a></li>
                <li> <a href="#">Services</a></li>
                <li> <a href="#">Sign Up</a></li>
                <li> <a href="#">Developers</a></li>
                <li> <a href="#">Blog</a></li>
                <li> <a href="#">Groups</a></li>
                <li> <a href="#">Jobs</a></li>
                <li> <a href="#">Learning</a></li>
                <li> <a href="#">Top Jobs</a></li>
                <li> <a href="#">Tearm</a></li>
                <li> <a href="#">Contact</a></li>
                <li> <a href="#">CAREERS</a></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="bottomFot">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <p class="copyright">&copy; Copyright 2017 - Byob - All Rights Reserved <a href="#">Site Map</a>
                        <a href="#">Privacy Policy</a> <a href="#">Disclaimer User</a> </p>
                    <p><a href="#">Guest Controls</a><a href="#">Agreement</a> <a href="#">Community Guidelines</a></p>
                </div>
                <div class="col-md-3">
                    <div class="logoFotr">
                        <a href="#"> <img src="assets/img/logofot.png" height="93" height="95" alt="logofot"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>