<header class="header">
    <div class="topBar">
        <div class="container">
            <div class="row">
                <div class="col-xs-7 col-sm-6">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logofot.png" height="93" height="95" alt="logo">
                        </a>
                        <h1>Be your Own Boss</h1>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-6">
                    <div class="loginButn"><a class="btn btn-default" routerLink="/login">Sign In</a></div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid reset-forms-wrapper">
    <div class="container reset-forms-container" [ngClass]="{ 'loading': isLoading }">
        <form class="reset-password-form" [formGroup]="form" (ngSubmit)="submit()" novalidate>
            <div class="form-title">
                <span>Reset Your Password</span>
            </div>
            <div *ngIf="currentStep === 1">
                <div class="form-info">
                    Please enter your email and or phone number linked to your account to recover your
                    account.
                </div>
                <div class="field-wrapper">
                    <div class="field">
                        <input type="radio" id="send-via-email" formControlName="method" name="method" value="email">
                        <label for="send-via-email">
                            <img src="assets/img/icons/send-mail.png" alt="img" class="label-img">
                            <span>Send code via email</span>
                        </label>
                    </div>
                    <div class="field">
                        <input type="email" class="input-text" formControlName="email" placeholder="Enter your email"
                            name="email">
                    </div>
                </div>
                <div class="field-wrapper">
                    <div class="field">
                        <input type="radio" id="send-via-sms" formControlName="method" name="method" value="sms"
                            disabled>
                        <label for="send-via-sms">
                            <img src="assets/img/icons/send-phone.png" alt="img" class="label-img">
                            <span>Send code via SMS</span>
                        </label>
                    </div>
                    <div class="field">
                        <input type="text" class="input-text" placeholder="Enter your phone" name="phone" disabled>
                    </div>
                </div>
                <div class="action">
                    <button type="submit" id="continue" class="button-continue">Continue</button>
                </div>
            </div>
            <div *ngIf="currentStep === 2">
                <div class="form-info check-mail-info">
                    You'll receive an email in a few minutes containing a link that will 
                    allow you to reset your password. If you don't see the email in your inbox shortly, 
                    check your spam folder.
                </div>
                <div class="enter-code">
                    <div class="sent-info">
                        <div class="sent-top">We sent an email to:</div>
                        <div class="sent-mail">{{ form.controls.email.value }}</div>
                    </div>
                </div>
                <div class="actions-bottom">
                    <a href="javascript:void(0)" class="get-code-link" (click)="sendResetLink()">Didn't get an email?</a>
                    <div class="buttons-wrapper">
                        <!-- <button type="submit" id="continue" class="button-continue">Continue</button> -->
                        <button type="button" id="cancel" class="button-continue cancel" (click)="goToLogin()">Cancel</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<blv-footer></blv-footer>