.not-active-chat {
  visibility: hidden;
}

.chat-item {
    border-bottom: 1px solid #ebebeb;
    padding-right: 42px;

  cursor: pointer;
  &:hover {
    background: rgb(205, 234, 252);
  }
}

.current-chat {
  cursor: pointer;
  &:hover {
    background: rgb(205, 234, 252);
  }
}

.search {
  background: transparent;
  border: none;
  outline: none;
  margin-top: 1rem;
}


.typing_field {
  textarea,input {
    background: transparent;
    border: none;
    outline: none;
    width: 35rem;
    resize: none;
  }
}

.icon__add-participant {
  cursor: pointer;
}

.icon__add-file {
  cursor: pointer;
}

.message {
  display: flow-root;
  margin: 1.5rem 0;
}

.icon__add-mode-available {
  cursor: pointer;
}

.contact_image {
    position: relative;

    .user_status {
        width: 5px;
        height: 5px;
        position: absolute;
        right: 0;
        border-radius: 100%;
        background-color: red;
    
        &.online {
            background-color: green;
        }
    }
}

.contacts-wrapper {
    height: calc(100% - 300px);
    overflow: hidden scroll;
    width: 100%;
    padding-left: 15px;
}