/* You can add global styles to this file, and also import other style files */

@import "main";


/*Подключение шрифтов*/
@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');


@import "~bootstrap/dist/css/bootstrap.css";
@import "~slick-carousel-latest/slick/slick.css";
@import "assets/css/font-awesome.min.css";

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "assets/css/material.css";


ul {
    list-style-type: none;
    padding: 0;
}

.slick-carousel {
    padding: 0;
}

.slick-dots {
    display: flex;
    position: absolute;
    left: 65%;
    bottom: 20px;
}

.slick-dots button {
    height: 4px;
    background-color: #051c2c;
    color: transparent;
    border: none;
    margin-right: 10px;
}

.slick-dots .slick-active button {
    background-color: #184acf;
    outline: none;
}

.slick-initialized .slick-slide {
    outline: none;
}

.slick-prev:before { 
    position: absolute;
    left: 11px;
    top: 2px;
    background: url('assets/img/prev-slide.png');
}

.slick-next:before {
    position: absolute;
    left: -14px;
    top: 2px;
    background: url('/assets/img/next-slide.png');
}

@media only screen and (max-width:767px) {
    .slick-dots {
        left: 37%;
    }
}