<div class="container-fluid top_header_links">
  <div class="container">
    <div class="row">
      <div class="header_logo col-md-2 col-sm-12">
        <div>BYOB</div> <span>Be Your Own Boss</span>
      </div>
      <div class="header_search col-md-4 col-sm-12">
        <form>
          <input type="search" placeholder="Find Entrepreneur">
          <button type="submit"></button>
        </form>
      </div>
      <div class="col-md-6 top_header_connect">
        <ul>
          <li>
            <a href="#">Browse</a>
          </li>
          <li>
            <a href="/chat-room" routerLink="/chat-room"> Chat room</a>
          </li>
          <li>
            <a href="#"> My Connection</a>
          </li>
          <li>
            <a href="#">Notifications <span class="counter">2</span></a>
          </li>
          <li>
            <a class="nav-drop" href="#">Messages</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<chat
  [currentUser]="store.currentUser"
  [currentChat]="currentChat"
  [users]="store.users"
  [chats]="store.chats"
  [recent]="store.recent"
  [saved]="store.saved"
  
  (startChat)="startChat($event)"
  (addParticipant)="addParticipant($event)"
  (openChat)="openChat($event)"
  (sendMessage)="sendMessage($event)"
  (uploadFile)="uploadFile($event)"
  (addContact)="addContact($event)">
</chat>

<!-- <footer> -->
<div class="container-fluid footer-bottom-section">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p class="bottom-title-alpha">Connecting members to each other</p>
        <ul class="alphabet">
          <li class="flip"><a href="#">A</a></li>
          <li class="flip"><a href="#">B</a></li>
          <li class="flip"><a href="#">C</a></li>
          <li class="flip"><a href="#">D</a></li>
          <li class="flip"><a href="#">E</a></li>
          <li class="flip"><a href="#">F</a></li>
          <li class="flip"><a href="#">G</a></li>
          <li class="flip"><a href="#">H</a></li>
          <li class="flip"><a href="#">I</a></li>
          <li class="flip"><a href="#">J</a></li>
          <li class="flip"><a href="#">K</a></li>
          <li class="flip"><a href="#">L</a></li>
          <li class="flip"><a href="#">M</a></li>
          <li class="flip"><a href="#">N</a></li>
          <li class="flip"><a href="#">O</a></li>
          <li class="flip"><a href="#">P</a></li>
          <li class="flip"><a href="#">Q</a></li>
          <li class="flip"><a href="#">R</a></li>
          <li class="flip"><a href="#">S</a></li>
          <li class="flip"><a href="#">T</a></li>
          <li class="flip"><a href="#">U</a></li>
          <li class="flip"><a href="#">V</a></li>
          <li class="flip"><a href="#">W</a></li>
          <li class="flip"><a href="#">X</a></li>
          <li class="flip"><a href="#">Y</a></li>
          <li class="flip"><a href="#">Z</a></li>
          <li class="flip"><a href="#">More</a></li>
        </ul>
        <p class="bottom-subbtitle-alpha">
          Browse by country
        </p>
      </div>
      <div class="col-md-3">
        <a href="#" class="button-member"><img src="assets/img/button-bot.png" alt="a"></a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-nav-wrapper">
  <div class="container">
    <div class="row">
      <ul class="footer-nav col-md-12">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#"> Sign Up </a></li>
        <li><a href="#">Developers Blog</a></li>
        <li><a href="#">Groups</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Learning</a></li>
        <li><a href="#"> Top Jobs</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">CAREERS</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid footer-bottom-section">
  <div class="container">
    <div class="row">
      <ul class="copyright-list col-md-7">
        <li>
          © Copyright 2017 - Byob - All Rights Reserved
        </li>
        <li>
          <a href="#">Site Map </a>
        </li>
        <li>
          <a href="#">Privacy Policy </a>
        </li>
        <li>
          <a href="#"> Disclaimer User </a>
        </li>
        <li>
          <a href="#"> Guest Controls</a>
        </li>
        <li>
          <a href="#"> Agreement </a>
        </li>
        <li>
          <a href="#"> Community Guidelines </a>
        </li>
      </ul>
      <div class="header_logo col-md-2 offset-md-3 footer-logo">
        <div>BYOB</div> <span>Be Your Own Boss</span>
      </div>
    </div>

  </div>
</div>
<!-- </footer> -->
