<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//unpkg.com/slick-carousel@1.8.1/slick/slick.js"></script>

<blv-header></blv-header>

<div class="container-fluid">
    <div class="container">
        <h2 class="page-title">Companies Detail</h2>
        <h4 class="page-subtitle">KEY SUCCESS FACTORS</h4>
        <div class="filter-form-wrapper">
            <div class="row filter-form">
                <div class="search-wrapper">
                    <form action="#" method="get">
                        <label for="filter__search">Search</label>
                        <input type="search" id="filter__search" name="filter__search" placeholder="Search Company">
                        <button type="submit" class="filter__search-btn"></button>
                    </form>
                </div>
                <div class="sort-wrapper">
                    <form action="#" method="get">
                        <label for="filter__sort">Sort By</label>
                        <select name="filter__sort" id="filter__sort">
                            <option value="Select Company">Select Company</option>
                            <option value="Coca-Cola">Coca-Cola</option>
                            <option value="Pepsi">Pepsi</option>
                            <option value="Coca-Cola">Mars</option>
                        </select>
                    </form>
                </div>
                <div class="type-wrapper">
                    <div (click)='showList()' class="sort-type">
                        <a id="sortByList"><img src="assets/img/list.png" alt="list" ><span>List</span></a>
                    </div>
                    <div (click)='showGrids()' class="sort-type">
                        <a id="sortByGrid"><img src="assets/img/grid.png" alt="grid" ><span>Grid</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf='list'>
    <div class="container">
        <div class="main__items-wrapper list-type">
            <div class="main__item-section ">
                <div class="main__items">
                    <div class="main__item">
                        <div class="main__item-image featured">
                            <img src="assets/img/list-item-1.png" alt="image">
                        </div>
                        <div class="main__item-info">
                            <div class="item-info__header">
                                <div class="item-info__wrapper">
                                    <div class="item-info__logo">
                                        <img src="assets/img/item-logo-1.png" alt="item-logo">
                                    </div>
                                    <div class="item-info__name">
                                        <h4 class="item__title">investor Junkie</h4>
                                        <h5 class="item__subtitle">Thomas Babcock</h5>
                                    </div>
                                </div>
                                <div class="item__social">
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-1.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-2.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-3.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-4.png" alt="social"></a>
                                </div>
                            </div>
                            <div class="main__item-body">
                                <div class="item__address">
                                    <p><b>Address</b> 5401 N 119TH AVE, GLENDALE, AZ, 85307</p>
                                    <p><b>Phone</b> (623) 935-1677</p>
                                    <p><b>Email</b> Not available</p>
                                </div>
                                <div class="item__dot-info">
                                    Aenean sollicitudin, lorem quis bibendu auctor, nisi elit consequat ipsum, lputate cursus a sit amet mauris accumsan ipsum velit nec tellus.
                                </div>
                            </div>
                            <div class="main__item-videos">
                                <h3 class="video__title">
                                    commercial videos
                                </h3>
                                <div class="slider">
                                    <ngx-slick class="carousel video__slider" #slickModal="slick-modal" [config]="slideConfig">
                                            <div ngxSlickItem *ngFor="let slide of slides" class="slide slide__element">
                                                  <img src="{{ slide.img }}" alt="" width="100%">
                                            </div>
                                    </ngx-slick>
                                </div>
                                <!-- <div class="video__slider">
                                    <div class="slide__element">
                                        <a href="#"><img src="assets/img/video.png" alt="video-logo"></a>
                                    </div>
                                    <div class="slide__element">
                                        <a href="#"><img src="assets/img/video-2.png" alt="video-logo"></a>
                                    </div>
                                    <div class="slide__element">
                                        <a href="#"><img src="assets/img/video-3.png" alt="video-logo"></a>
                                    </div>
                                    <div class="slide__element">
                                        <a href="#"><img src="assets/img/video-2.png" alt="video-logo"></a>
                                    </div>
                                    <div class="slide__element">
                                        <a href="#"><img src="assets/img/video.png" alt="video-logo"></a>
                                    </div>
                                    <div class="slide__element">
                                        <a href="#"><img src="assets/img/video-2.png" alt="video-logo"></a>
                                    </div>
                                    <div class="slide__element">
                                        <a href="#"><img src="assets/img/video-3.png" alt="video-logo"></a>
                                    </div>
                                    <div class="slide__element">
                                        <a href="#"><img src="assets/img/video-2.png" alt="video-logo"></a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__item-section">
                <div class="main__items">
                    <div class="main__item">
                        <div class="main__item-image">
                            <img src="assets/img/list-item-2.png" alt="image">
                        </div>
                        <div class="main__item-info">
                            <div class="item-info__header">
                                <div class="item-info__wrapper">
                                    <div class="item-info__logo">
                                        <img src="assets/img/item-logo-2.png" alt="item-logo">
                                    </div>
                                    <div class="item-info__name">
                                        <h4 class="item__title">investor Junkie</h4>
                                        <h5 class="item__subtitle">Thomas Babcock</h5>
                                    </div>
                                </div>
                                <div class="item__social">
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-1.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-2.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-3.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-4.png" alt="social"></a>
                                </div>
                            </div>
                            <div class="main__item-body">
                                <div class="item__address">
                                    <p><b>Address</b> 5401 N 119TH AVE, GLENDALE, AZ, 85307</p>
                                    <p><b>Phone</b> (623) 935-1677</p>
                                    <p><b>Email</b> Not available</p>
                                </div>
                                <div class="item__dot-info">
                                    Aenean sollicitudin, lorem quis bibendu auctor, nisi elit consequat ipsum, lputate cursus a sit amet mauris accumsan ipsum velit nec tellus.
                                </div>
                            </div>
                            <div class="main__item-videos">
                                <h3 class="video__title">
                                    commercial videos
                                </h3>
                                <div class="slider">
                                    <ngx-slick class="carousel video__slider" #slickModal="slick-modal" [config]="slideConfig">
                                            <div ngxSlickItem *ngFor="let slide of slides" class="slide slide__element">
                                                  <img src="{{ slide.img }}" alt="" width="100%">
                                            </div>
                                    </ngx-slick>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__item-section ">
                <div class="main__items">
                    <div class="main__item">
                        <div class="main__item-image featured">
                            <img src="assets/img/list-item-1.png" alt="image">
                        </div>
                        <div class="main__item-info">
                            <div class="item-info__header">
                                <div class="item-info__wrapper">
                                    <div class="item-info__logo">
                                        <img src="assets/img/item-logo-3.png" alt="item-logo">
                                    </div>
                                    <div class="item-info__name">
                                        <h4 class="item__title">investor Junkie</h4>
                                        <h5 class="item__subtitle">Thomas Babcock</h5>
                                    </div>
                                </div>
                                <div class="item__social">
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-1.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-2.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-3.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-4.png" alt="social"></a>       </div>
                                </div>
                            <div class="main__item-body">
                                <div class="item__address">
                                    <p><b>Address</b> 5401 N 119TH AVE, GLENDALE, AZ, 85307</p>
                                    <p><b>Phone</b> (623) 935-1677</p>
                                    <p><b>Email</b> Not available</p>
                                </div>
                                <div class="item__dot-info">
                                    Aenean sollicitudin, lorem quis bibendu auctor, nisi elit consequat ipsum, lputate cursus a sit amet mauris accumsan ipsum velit nec tellus.
                                </div>
                            </div>
                            <div class="main__item-videos">
                                <h3 class="video__title">
                                    commercial videos
                                </h3>
                                <div class="slider">
                                    <ngx-slick class="carousel video__slider" #slickModal="slick-modal" [config]="slideConfig">
                                            <div ngxSlickItem *ngFor="let slide of slides" class="slide slide__element">
                                                  <img src="{{ slide.img }}" alt="" width="100%">
                                            </div>
                                    </ngx-slick>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div *ngIf='grids' class="container-fluid">
    <div class="container">
        <div class="main__items-wrapper">
            <div class="main__item-section featured">
                <div class="main__items">
                    <div class="main__item">
                        <div class="main__item-image">
                            <img src="assets/img/item-main-1.png" alt="image">
                        </div>
                        <div class="main__item-info">
                            <div class="item-info__header">
                                <div class="item-info__wrapper">
                                    <div class="item-info__logo">
                                        <img src="assets/img/item-logo-1.png" alt="item-logo">
                                    </div>
                                    <div class="item-info__name">
                                        <h4 class="item__title">investor Junkie</h4>
                                        <h5 class="item__subtitle">Thomas Babcock</h5>
                                    </div>
                                </div>
                                <div class="item__social">
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-1.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-2.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-3.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-4.png" alt="social"></a>
                                </div>
                            </div>
                            <div class="main__item-body">
                                <div class="item__address">
                                    <p><b>Address</b> 5401 N 119TH AVE, GLENDALE, AZ, 85307</p>
                                    <p><b>Phone</b> (623) 935-1677</p>
                                    <p><b>Email</b> Not available</p>
                                </div>
                                <div class="item__dot-info">
                                    Aenean sollicitudin, lorem quis bibendu auctor, nisi elit consequat ipsum, lputate cursus a sit amet mauris accumsan ipsum velit nec tellus.
                                </div>
                            </div>
                            <div class="main__item-videos">
                                <h3 class="video__title">
                                    commercial videos
                                </h3>
                                <div class="slider">
                                    <ngx-slick class="carousel video__slider" #slickModal="slick-modal" [config]="slideConfig">
                                            <div ngxSlickItem *ngFor="let slide of slides" class="slide slide__element">
                                                  <img src="{{ slide.img }}" alt="" width="100%">
                                            </div>
                                    </ngx-slick>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__item-section">
                <div class="main__items">
                    <div class="main__item">
                        <div class="main__item-image">
                            <img src="assets/img/item-main-2.png" alt="image">
                        </div>
                        <div class="main__item-info">
                            <div class="item-info__header">
                                <div class="item-info__wrapper">
                                    <div class="item-info__logo">
                                        <img src="assets/img/item-logo-2.png" alt="item-logo">
                                    </div>
                                    <div class="item-info__name">
                                        <h4 class="item__title">investor Junkie</h4>
                                        <h5 class="item__subtitle">Thomas Babcock</h5>
                                    </div>
                                </div>
                                <div class="item__social">
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-1.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-2.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-3.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-4.png" alt="social"></a>
                                </div>
                            </div>
                            <div class="main__item-body">
                                <div class="item__address">
                                    <p><b>Address</b> 5401 N 119TH AVE, GLENDALE, AZ, 85307</p>
                                    <p><b>Phone</b> (623) 935-1677</p>
                                    <p><b>Email</b> Not available</p>
                                </div>
                                <div class="item__dot-info">
                                    Aenean sollicitudin, lorem quis bibendu auctor, nisi elit consequat ipsum, lputate cursus a sit amet mauris accumsan ipsum velit nec tellus.
                                </div>
                            </div>
                            <div class="main__item-videos">
                                <h3 class="video__title">
                                    commercial videos
                                </h3>
                                <div class="slider">
                                    <ngx-slick class="carousel video__slider" #slickModal="slick-modal" [config]="slideConfig">
                                            <div ngxSlickItem *ngFor="let slide of slides" class="slide slide__element">
                                                  <img src="{{ slide.img }}" alt="" width="100%">
                                            </div>
                                    </ngx-slick>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__item-section featured">
                <div class="main__items">
                    <div class="main__item">
                        <div class="main__item-image">
                            <img src="assets/img/item-main-3.png" alt="image">
                        </div>
                        <div class="main__item-info">
                            <div class="item-info__header">
                                <div class="item-info__wrapper">
                                    <div class="item-info__logo">
                                        <img src="assets/img/item-logo-3.png" alt="item-logo">
                                    </div>
                                    <div class="item-info__name">
                                        <h4 class="item__title">investor Junkie</h4>
                                        <h5 class="item__subtitle">Thomas Babcock</h5>
                                    </div>
                                </div>
                                <div class="item__social">
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-1.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-2.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-3.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-4.png" alt="social"></a>
                                </div>
                            </div>
                            <div class="main__item-body">
                                <div class="item__address">
                                    <p><b>Address</b> 5401 N 119TH AVE, GLENDALE, AZ, 85307</p>
                                    <p><b>Phone</b> (623) 935-1677</p>
                                    <p><b>Email</b> Not available</p>
                                </div>
                                <div class="item__dot-info">
                                    Aenean sollicitudin, lorem quis bibendu auctor, nisi elit consequat ipsum, lputate cursus a sit amet mauris accumsan ipsum velit nec tellus.
                                </div>
                            </div>
                            <div class="main__item-videos">
                                <h3 class="video__title">
                                    commercial videos
                                </h3>
                                <div class="slider">
                                    <ngx-slick class="carousel video__slider" #slickModal="slick-modal" [config]="slideConfig">
                                            <div ngxSlickItem *ngFor="let slide of slides" class="slide slide__element">
                                                  <img src="{{ slide.img }}" alt="" width="100%">
                                            </div>
                                    </ngx-slick>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__item-section ">
                <div class="main__items">
                    <div class="main__item">
                        <div class="main__item-image">
                            <img src="assets/img/item-main-4.png" alt="image">
                        </div>
                        <div class="main__item-info">
                            <div class="item-info__header">
                                <div class="item-info__wrapper">
                                    <div class="item-info__logo">
                                        <img src="assets/img/item-logo-1.png" alt="item-logo">
                                    </div>
                                    <div class="item-info__name">
                                        <h4 class="item__title">investor Junkie</h4>
                                        <h5 class="item__subtitle">Thomas Babcock</h5>
                                    </div>
                                </div>
                                <div class="item__social">
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-1.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-2.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-3.png" alt="social"></a>
                                    <a href="#" class="item__social_link"><img src="assets/img/soc-4.png" alt="social"></a>
                                </div>
                            </div>
                            <div class="main__item-body">
                                <div class="item__address">
                                    <p><b>Address</b> 5401 N 119TH AVE, GLENDALE, AZ, 85307</p>
                                    <p><b>Phone</b> (623) 935-1677</p>
                                    <p><b>Email</b> Not available</p>
                                </div>
                                <div class="item__dot-info">
                                    Aenean sollicitudin, lorem quis bibendu auctor, nisi elit consequat ipsum, lputate cursus a sit amet mauris accumsan ipsum velit nec tellus.
                                </div>
                            </div>
                            <div class="main__item-videos">
                                <h3 class="video__title">
                                    commercial videos
                                </h3>
                                <div class="slider">
                                    <ngx-slick class="carousel video__slider" #slickModal="slick-modal" [config]="slideConfig">
                                            <div ngxSlickItem *ngFor="let slide of slides" class="slide slide__element">
                                                  <img src="{{ slide.img }}" alt="" width="100%">
                                            </div>
                                    </ngx-slick>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-top-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="footer_top_title">
                    Stay connected with our Journey.  </p>
                <p class="footer_bot_title">  Sign up for our Newsletter</p>
                <div class="mail-form">
                    <form action="#" method="post">
                        <input type="email" name="email" placeholder="Enter your Email">
                        <button type="submit">Sub</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="app-links">
                    <a href="#"><img src="assets/img/button_download_android.png" alt="android"></a>
                    <a href="#"><img src="assets/img/appstore.png" alt="app"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-bottom-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p class="bottom-title-alpha">Connecting members to each other</p>
                <ul class="alphabet">
                    <li class="flip"><a href="#">A</a></li>
                    <li class="flip"><a href="#">B</a></li>
                    <li class="flip"><a href="#">C</a></li>
                    <li class="flip"><a href="#">D</a></li>
                    <li class="flip"><a href="#">E</a></li>
                    <li class="flip"><a href="#">F</a></li>
                    <li class="flip"><a href="#">G</a></li>
                    <li class="flip"><a href="#">H</a></li>
                    <li class="flip"><a href="#">I</a></li>
                    <li class="flip"><a href="#">J</a></li>
                    <li class="flip"><a href="#">K</a></li>
                    <li class="flip"><a href="#">L</a></li>
                    <li class="flip"><a href="#">M</a></li>
                    <li class="flip"><a href="#">N</a></li>
                    <li class="flip"><a href="#">O</a></li>
                    <li class="flip"><a href="#">P</a></li>
                    <li class="flip"><a href="#">Q</a></li>
                    <li class="flip"><a href="#">R</a></li>
                    <li class="flip"><a href="#">S</a></li>
                    <li class="flip"><a href="#">T</a></li>
                    <li class="flip"><a href="#">U</a></li>
                    <li class="flip"><a href="#">V</a></li>
                    <li class="flip"><a href="#">W</a></li>
                    <li class="flip"><a href="#">X</a></li>
                    <li class="flip"><a href="#">Y</a></li>
                    <li class="flip"><a href="#">Z</a></li>
                    <li class="flip"><a href="#">More</a></li>
                </ul>
                <p class="bottom-subbtitle-alpha">
                    Browse by country
                </p>
            </div>
            <div class="col-md-3">
                <a href="#" class="button-member"><img src="assets/img/button-bot.png" alt="a"></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-nav-wrapper">
        <div class="container">
            <div class="row">
                <ul class="footer-nav col-md-12">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#"> Sign Up  </a></li>
                    <li><a href="#">Developers  Blog</a></li>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Learning</a></li>
                    <li><a href="#"> Top Jobs</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">CAREERS</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="container-fluid footer-bottom-section">
        <div class="container">
            <div class="row">
                <ul class="copyright-list col-md-7">
                    <li>
                        © Copyright 2017 - Byob  - All Rights Reserved
                    </li>
                    <li>
                        <a href="#">Site Map </a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy </a>
                    </li>
                    <li>
                        <a href="#">  Disclaimer User </a>
                    </li>
                    <li>
                        <a href="#">  Guest Controls</a>
                    </li>
                    <li>
                        <a href="#">  Agreement </a>
                    </li>
                    <li>
                        <a href="#">  Community Guidelines </a>
                    </li>
                </ul>
                <div class="header_logo col-md-2 offset-md-3 footer-logo">
                    <div>BYOB</div> <span>Be Your Own Boss</span>
                </div>
            </div>
        </div>
    </div>
<!-- <script>
    $('.video__slider').slick({
        slidesToScroll: 4,
        slidesToShow:4,
        nextArrow: ' <a href="#" class="nxt-slide"><img src="assets/img/next-slide.png" alt="assets/img"></a>',
        prevArrow: ' <a href="#" class="prv-slide"><img src="assets/img/prev-slide.png" alt="assets/img"></a>',
    })
</script> -->
<!-- </body>
</html> -->
